<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <h3 class="fs-2">Feature 1</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, aspernatur alias totam architecto ex voluptates. Totam soluta quis sed dolore perspiciatis dolor corrupti similique error. Quod eos laboriosam obcaecati eum.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
        Learn more
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
    </div>
    <div class="feature col">
        <h3 class="fs-2">Feature 2</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, atque reprehenderit, a enim sapiente dolor ullam doloribus nemo maxime non distinctio adipisci voluptatibus similique saepe labore laboriosam tenetur, consequuntur vel!</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
        Learn more
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
    </div>
    <div class="feature col">
        <h3 class="fs-2">Feature 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos sequi rerum, quibusdam perspiciatis itaque dolor harum optio accusantium provident eius nam dolorem aperiam repellendus, pariatur cupiditate et delectus suscipit omnis!</p>
        <a href="#" class="icon-link d-inline-flex align-items-center justify-content-center">
        Learn more
        </a>
    </div>
    </div>
</div>