<div class="container py-3">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Pricing</h1>
        <p class="fs-5 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sed doloribus, quia corrupti, consequatur, nostrum eligendi magnam maiores id iusto numquam eveniet laudantium dolor quaerat illum expedita voluptatem reiciendis. Consectetur!</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Tier 1</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$5<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Perk 1</li>
                <li>Perk 2</li>
                <li>Perk 3</li>
                <li>Perk 4</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Purchase</button>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Tier 2</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$10<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Perk 1</li>
                <li>Perk 2</li>
                <li>Perk 3</li>
                <li>Perk 4</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Purchase</button>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Tier 3</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Perk 1</li>
                <li>Perk 2</li>
                <li>Perk 3</li>
                <li>Perk 4</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Purchase</button>
            </div>
            </div>
        </div>
    </div>
</div>